absl-py==0.13.0
aio-pika==6.8.2
aiofiles==0.8.0
aiohttp==3.7.4
aiormq==3.3.1
APScheduler==3.7.0
asgiref==3.2.10
astroid==2.1.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.9.3
bidict==0.22.0
boto3==1.14.45
botocore==1.17.45
brotlipy @ file:///D:/bld/brotlipy_1648854327487/work
bs4==0.0.1
CacheControl==0.12.11
cachelib==0.9.0
cachetools==4.2.4
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1636046278333/work
chardet==3.0.4
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click==8.1.3
cloudpickle==1.6.0
colorama==0.4.1
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.0.4
commonmark==0.9.1
cryptography @ file:///C:/ci/cryptography_1639414720302/work
cycler==0.10.0
Cython==0.29.28
cytoolz==0.11.2
dask==2022.2.0
debugpy @ file:///D:/bld/debugpy_1649586515543/work
decorator==4.4.2
dj-database-url==0.5.0
Django==3.1.1
django-cors-headers==3.5.0
django-heroku==0.3.1
djangorestframework==3.11.1
dnspython==1.16.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1646044401614/work
fbmessenger==6.0.0
fire==0.4.0
Flask==2.1.3
Flask-Cors==3.0.10
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
flatbuffers==2.0
fonttools @ file:///D:/bld/fonttools_1650674552917/work
Frozen-Flask==0.18
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1648820545323/work
future==0.18.2
futures==3.1.1
gast==0.4.0
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1645531658201/work
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
goslate==1.5.1
greenlet==1.1.2
grpcio==1.44.0
gunicorn==20.0.4
h5py==3.6.0
haversine==2.6.0
httptools==0.4.0
humanfriendly==10.0
ibm-cloud-sdk-core==1.7.3
ibm-watson==4.7.1
idna==2.10
imagecodecs-lite @ file:///D:/bld/imagecodecs-lite_1602583262739/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1654071881944/work
importlib-metadata==4.11.3
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==2.1.2
jedi==0.17.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==0.17.0
jsonpickle==2.0.0
jsonschema==4.4.0
jupyter-client==6.1.7
jupyter-core==4.6.3
kafka-python==2.0.2
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
langdetect==1.0.8
lazy-object-proxy==1.3.1
libclang==14.0.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.3.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mattermostwrapper==2.2
mccabe==0.6.1
msgpack==1.0.4
multidict==5.2.0
munkres==1.1.4
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1648959695634/work
networkx==2.6.3
nltk==3.5
numpy @ file:///D:/bld/numpy_1657483989399/work
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==20.9
pamqp==2.3.0
pandas @ file:///D:/bld/pandas_1656001279371/work
parso==0.7.1
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pathtools==0.1.2
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1649818211002/work
promise @ file:///D:/bld/promise_1649695581058/work
prompt-toolkit==3.0.8
protobuf==3.19.4
psutil @ file:///D:/bld/psutil_1648873144419/work
psycopg2==2.8.6
psycopg2-binary==2.9.3
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyDictionary==2.0.1
pydot==1.4.2
Pygments==2.7.1
PyJWT==1.7.1
pykwalify==1.8.0
pylint==2.2.2
pymongo==3.10.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==2.4.7
pyreadline3==3.4.1
pyrsistent==0.18.1
PySocks @ file:///D:/bld/pysocks_1648857426942/work
pyTelegramBotAPI==4.6.0
python-crfsuite==0.9.8
python-dateutil==2.8.1
python-dotenv==0.20.0
python-engineio==4.3.3
python-socketio==5.7.0
pytz==2020.1
PyWavelets @ file:///C:/ci/pywavelets_1648728084106/work
pywin32==303
PyYAML @ file:///D:/bld/pyyaml_1648757346451/work
pyzmq==19.0.2
questionary==1.10.0
randomname==0.1.5
rasa==3.2.2
rasa-sdk==3.2.0
redis==3.5.3
regex==2020.11.11
requests==2.24.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rich==12.4.4
roboflow==0.2.4
rocketchat-API==1.25.0
rsa==4.8
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
s3transfer==0.3.3
sanic==21.12.1
Sanic-Cors==2.0.1
sanic-jwt==1.8.0
sanic-routing==0.7.2
scikit-image @ file:///C:/ci/scikit-image_1648214340990/work
scikit-learn==0.24.2
scipy==1.7.3
selenium==3.141.0
sentry-sdk==1.3.1
setproctitle @ file:///D:/bld/setproctitle_1650296707875/work
shortuuid @ file:///D:/bld/shortuuid_1636643953681/work
six==1.15.0
sklearn-crfsuite==0.3.6
slackclient==2.9.4
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
soupsieve==2.0.1
SQLAlchemy==1.4.39
sqlparse==0.3.1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1644872665635/work
tabulate==0.8.10
tarsafe==0.0.3
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.3
tensorflow-addons==0.15.0
tensorflow-estimator==2.7.0
tensorflow-gpu==2.8.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
terminaltables==3.1.10
textblob==0.15.3
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1591280222285/work
toml==0.10.1
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado==6.0.4
tqdm==4.51.0
traitlets==5.0.5
twilio==6.50.1
typed-ast==1.4.1
typeguard==2.13.3
typing-extensions==3.10.0.2
typing-utils==0.1.0
tzlocal==2.1
ujson==5.4.0
unicodedata2 @ file:///D:/bld/unicodedata2_1649112114189/work
urllib3==1.25.10
verboselogs==1.7
wandb==0.12.15
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webexteamssdk==1.6.1
websocket-client==0.48.0
websockets==10.3
Werkzeug==2.1.1
wget==3.2
whitenoise==5.2.0
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771910527/work
wincertstore==0.2
wrapt==1.12.1
yarl==1.7.2
zipp==3.8.0
